<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <link href="https://bootswatch.com/simplex/bootstrap.min.css" rel='stylesheet'>
</head>
<body>
  <div class="container ah-main-container">
    <h1>To Do List</h1>
    <%= yield %>
  </div>
</body>
</html>
